<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Floating Button Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="container">
    <input type="checkbox" id="toggle" checked />
    <label class="button" for="toggle">
      <nav class="nav">
        <ul>
          <li><a href="#0"><i class="ri-mic-line"></i></a></li>
          <li><a href="#2"><i class="ri-image-line"></i></a></li>
          <li><a href="#1"><i class="ri-vidicon-line"></i></a></li>
          <li><a href="#3"><i class="ri-file-line"></i></a></li>
        </ul>
      </nav>
    </label>
  </div>
  <!-- partial -->

</body>

</html>
